[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-html = "*"

[packages]
behave = "*"
python-docx = "*"
Pillow = "*"
radon = "*"
matplotlib = "*"
pyinstaller = "==4.5.1"

[requires]
python_version = "3.8"
